body {

	background-image: url('/arkiv/2008/images/layout/bg_top.png');

	background-repeat: repeat-x;

	background-position: top;

	margin: 0px;

	padding: 0px;

	background-color: #f4f4f4;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	}



#hidden {

	visibility: hidden;

	display: none;

	}



#superwrapper {

	background-image: url('/arkiv/2008/images/layout/content_bg.png');

	background-repeat: repeat-y;

	background-position: top;

	width: 640px;

	margin: 0 auto;

}



#headerwrapper {

	background-image: url('/arkiv/2008/images/layout/header.png');

	background-repeat:no-repeat;

	background-position: top;

	height: 134px;

	}



#contentwrapper {

	padding-left: 40px;

	padding-right: 40px;

	}



#footerwrapper {

	width: 560px;

	margin: 0 auto;

	padding: 10px 20px 10px 20px;

	background-color: #e3e3e3;

	border-top: 1px #888888 dotted;

	text-align: center;

	}



#contentwrapper p, ul {

	line-height: 18px;

	color: #333333;

	}



#contentwrapper li {

	padding-bottom: 4px;

	}



#linewrapper {

	background-image: url('/arkiv/2008/images/layout/footer.png');

	background-repeat:no-repeat;

	background-position: bottom;

	height: 20px;

	clear: both;

	}



h1 {

	color: #999999;

	font-size: 18px;

	}



#contentwrapper h3 {

	padding: 4px 0px 2px 0px;

	margin: 0px;

	font-size: 14px;

	color: #666666;

}



#contentwrapper h2 {

	padding: 8px 0px 3px 0px;

	margin: 0px;

	font-size: 15px;

	color: #666666;

}



#contentwrapper h1 {

	margin: 0px;

	padding: 8px 0px 4px 0px;

	font-size: 16px;

	color: #666666;

}



p {

	margin: 0px;

	}



#contentwrapper p {

	padding: 5px 0px 10px 0px;

	text-align: justify;

}



p.ErrorMsg {

	background-color:#FF8282;

	border: 1px solid #FF0000;

	padding: 6px;

	text-align: justify;

	}



p.OkMsg {

	background-color: #B7FFB7;

	border: 1px solid #00FF00;

	padding: 6px;

	text-align: justify;

	}



input.text {

	width: 300px;

	font: 14px/20px Verdana, Arial, Helvetica, sans-serif;

	padding: 2px;

	border: 1px solid #000000;

	color:#999999;

	}



input.text:focus {

	background-color:#dce8f7;

	border:1px solid #0099FF;

	color:#222222;

	}



textarea {

	width: 100%;

	font: 14px/20px Verdana, Arial, Helvetica, sans-serif;

	padding: 2px;

	border: 1px solid #000000;

	color:#999999;

	}



textarea:focus {

	background-color:#dce8f7;

	border:1px solid #0099FF;

	color:#222222;

	}



input.submit {

	font: 14px/20px Verdana, Arial, Helvetica, sans-serif;

	height: 30px;

	width: 200px;

	}



#contentwrapper img {

	padding: 4px;

	border: 1px solid #CCCCCC;

	text-decoration: none;

	background-color: #F5F5F5;

	}



#menu {

	padding-top: 110px;

	padding-left: 40px;

	font-weight: bold;

	margin: 0px;

	}

	

#menu li {

	list-style: none;

	display: inline;

	margin-right: 20px;

	}



#menu li a {

	color: #FFFFFF;

	text-decoration: none;

	}



#menu li a:hover {

	text-decoration: underline;

	}



.code {

	font-family: "Courier New", Courier, monospace;

	}

	

ul ul {

	margin-bottom: 10px;

	}



li {

	line-height: 18px;

	}



table {

	padding: 4px 0px 8px 0px;

	}



#contentleft {

	position: relative;

	float: left;

	width: 160px;

	padding-right: 10px;

	}



#contentright {

	position: relative;

	float:left;

	width: 380px;

	padding-left: 10px;

}